.u-section-1 {
  background-image: linear-gradient(0deg, rgba(17,17,17,0.55), rgba(17,17,17,0.55)), url("images/Exterior.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 436px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 103px 180px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 180px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: 30px auto 60px 481px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    width: 780px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-2 {
    width: 780px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: auto;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  min-height: 1422px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 474px;
  pointer-events: auto;
  background-image: linear-gradient(0deg, rgba(82,52,24,0.15), rgba(82,52,24,0.15)), url("images/1928-2019.01.07-Danny-Imagens-Cursos-Profissionais-604x350-Fazendo-Barba-604x350.jfif");
  background-position: 100% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 474px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 119px 0 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 474px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 119px 0 0;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 474px;
  pointer-events: auto;
  background-image: linear-gradient(0deg, rgba(82,52,24,0.1), rgba(82,52,24,0.1)), url("images/header_barbeoterapia2_a23a1496-5afb-4fee-bd05-323760bdc5ad_1600x.jpg");
  background-position: 100% 100%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-wrap-3 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  min-height: 474px;
  pointer-events: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/close-up-man-getting-hair-wash_23-2148256875.jpg");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 474px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 119px 0 0;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1166px;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-2 .u-image-2 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: -7px;
  }

  .u-section-2 .u-image-3 {
    background-position: 50% 50%;
    min-height: 391px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 987px;
  }

  .u-section-2 .u-image-1 {
    min-height: 299px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -1px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 47px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-image-2 {
    min-height: 299px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: -3px;
  }

  .u-section-2 .u-image-3 {
    min-height: 299px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 340px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 59px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1630px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
    margin-right: 48px;
    margin-left: 38px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 17px;
    margin-right: 48px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 214px;
    order: 1;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 17px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-image-2 {
    min-height: 321px;
    order: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 280px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 2px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1482px;
  }

  .u-section-2 .u-image-1 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 46px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 53px;
    margin-left: 43px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -2px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-2 .u-text-3 {
    width: 334px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 334px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 291px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: -2px;
  }

  .u-section-2 .u-image-3 {
    min-height: 241px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 33px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 252px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 40px;
    margin-right: 40px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 794px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin-top: 45px;
  margin-left: 0;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-bottom: 0;
  margin-top: 29px;
  margin-left: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 454px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(82,52,24,0.1), rgba(82,52,24,0.1)), url("images/rr.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 272px 49px 0 1px;
}

.u-section-3 .u-text-4 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px 5px -10px 1px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(82,52,24,0.1), rgba(82,52,24,0.1)), url("images/reuzel.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 272px 49px 0 1px;
}

.u-section-3 .u-text-6 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px 5px -10px 1px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(82,52,24,0.1), rgba(82,52,24,0.1)), url("images/garden.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 272px 49px 0 1px;
}

.u-section-3 .u-text-8 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 20px 5px -10px 1px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 36px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1362px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 46px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 10px;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 164px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 164px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 164px;
  }

  .u-section-3 .u-btn-1 {
    margin: 20px 0 46px;
    padding: 9px 6px 11px 5px;
  }
}